/* ImageWith Text section css */

.image-text-overlay{
    padding-top:37px;
    padding-bottom: 37px;
}
.left-section-child .button img{
    margin-left:3px;
  }
  section.page-width.image-text-overlay {
    display: flex;
}
.left-section-img-txt-wrapper{
    width:40%;
    position: relative;
}
.image-text-overlay .left-section-img-txt-wrapper h2{
    margin:0;
}

.left-section-img-txt-wrapper .left-section-child {
    position: absolute;
    top: 45px;
    width: 620px;
    background-color: #ffff;
    padding: 50px 10px;
    border-radius: 0 100px 0 0;
}

.right-img-txt-wrapper{
    width:60%;
}
.img-wrapper-img-txt{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.image-text-overlay .img-wrapper-img-txt img{
    width:100%;
}


/* Multi Image Text section css */
.multi-image-text {
    display: flex;
    gap:40px;
    padding-top:50px;
    padding-bottom:50px;
    flex-wrap:wrap;
} 
.multi-image-text .multi-image-text-container{
        display: flex;
        gap:15px;
        width:calc(33% - 40px * 2/3);
}  
.m-0{
    margin:0;
}

  /* image block section */
.image-block-section{
    background: linear-gradient(90deg, #FF9900 0%, #F2CB00 100%);
}
.image-block-section .content-heading-flex{
    display:flex;
    gap:10px;
    align-items:baseline;
    justify-content: center;
}
.image-block-section .image-block-child-wrapper{
    display: flex;
    gap:50px;
}

.image-block-section .image-block-outer-card{
    width:calc(25% - 50px * 3/4);
}
.image-block-section .image-block-outer-card .image-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 140px;
}
.image-block-section .image-block-outer-card .image-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: none;
}


/* Block content Image css */
.block-content-image-section .block-content-image-child-wrapper{
    display: flex;
    gap:30px;
    margin-top:80px;
}
.block-content-image-section .block-content-image-outer-card{
    width:calc(25% - 30px * 3/4);
}
@media screen and (min-width:990px){
    .block-content-image-section .block-content-image-outer > .text-heading-wrapper{
        max-width:50%;
    }
}

/* specialized card section  */
.specialize-card-section .specialize-child-wrapper{
    display: flex;
    column-gap:26px;
    row-gap: 44px;
    margin-top:45px;
    flex-wrap: wrap;
}
.specialize-card-section .specialize-heading-wrapper{
    max-width:50%;
}
.specialize-card-section .specialize-image-wrapper{
   width:52px;
   height:52px;
   object-fit: contain;
}
.specialize-card-section .specialize-image-wrapper img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.specialize-card-section .specialize-card-outer{
    width:calc(25% - 26px*3/4);
    border-radius: 12px;
    border-left:14px solid #FFF856;
    display: flex;
    gap:20px;
    padding:20px;
    align-items: center;
    box-shadow: 0px 4px 16px 0px #0000000F;

}